<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Select Workouts Performed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content page="workouts" ion-grid>
  <div ion-row padding>
    <div ion-col col-4 *ngFor="let workoutItem of workouts">
      <div class="rounded-rectangle full" *ngIf="!workoutItem.selected" (click)="addItemInWorkoutList(workoutItem)">
        {{workoutItem.workout}}
      </div>
      <div class="rounded-rectangle full selected" *ngIf="workoutItem.selected" (click)="removeItemInWorkoutList(workoutItem)">
        {{workoutItem.workout}}
      </div>
    </div>
  </div>
  <div ion-row padding>
    <button ion-button ion-col col-12 [disabled]="!selectedWorkouts.length" (click)="storeSelectedWorkoutsInFactory(selectedWorkouts)">
      Enter Weights for {{selectedWorkouts.length}} Workouts
    </button>
  </div>
</ion-content>
