[page="workouts"] {
  .rounded-rectangle {
    border: 1px solid grey;
    border-radius: 5px;
    height: 64px;
    float: left;
    background-color: #5d5d5d;
    color: white;
    &.selected {
      background-color: #9d9d9d;
      color: #5d5d5d;
    }
  }
  .full {
    width: 100%;
  }
}
